[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cepreader"]
	path = cepreader
	url = https://github.com/vegandevs/cepreader
[submodule "lmodel2"]
	path = lmodel2
	url = https://github.com/vegandevs/lmodel2
[submodule "vegan"]
	path = vegan
	url = https://github.com/vegandevs/vegan
[submodule "vegan3d"]
	path = vegan3d
	url = https://github.com/vegandevs/vegan3d
